{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Predict Sale</h1>

    <div class="form">
        <form action="/predict" method="POST">
            <input type="number" name="Store" id="Store" placeholder="Store">
            <input type="number" name="DayOfWeek" id="DayOfWeek" placeholder="DayOfWeek">
            <input type="number" name="Customers" id="Customers" placeholder="Customers">
            <input type="number" name="Open" id="Open" placeholder="Open">
            <input type="number" name="Promo" id="Promo" placeholder="promo">
            <input type="number" name="StateHoliday" id="StateHoliday"placeholder="StateHoliday" step="any">
            <input type="number" name="SchoolHoliday" id="SchoolHoliday"placeholder="SchoolHoliday" step="any">

</select>
            <input type="submit" value="Predict">
        </form>
    </div>
</div>
{% endblock %}